@media all and (max-width: 1200px) 
  html 
    font-size: $font-size-main - 1

@media all and (max-width: 992px) 
  html 
    font-size: $font-size-main - 2
  

@media all and (max-width: 768px) 
  html
    font-size: $font-size-main - 3
  

@media all and (max-width: 480px) 
  html 
    font-size: $font-size-main - 4
  .header
    &__container 
      flex-direction: column
  
