.nav
  &__container
    display: flex
    justify-content: space-between
  &__mainmenu
    &_horisontal
      display: flex
    list-style: none
    padding: 0
    margin: 0
  &__item
    &_bold
      font-weight: bold
    margin: 0 0.417rem
  &__link
    text-decoration: none
    color: $color-light-text
  &__search
    width: 16.667rem
    border: $input-borders
    border-radius: 3px
    height: 2rem
    background: $bgcolor-input
  font-size: 1rem

  
