.usermenu
  &__button
    margin: 0.75rem
    display: flex
    justify-content: center
    align-items: center
    border-radius: 3px
    box-sizing: content-box
    padding: 0.5rem 1rem
    transition: box-shadow 0.4s